<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="uri" value="http://padi.m.redmine.org/"/>
    <add key="apiKey" value=""/>
    <add key="username" value="padi"/>
    <add key="password" value="123ewq"/>
    
    <!--<add key="uri" value="http://localhost:8089/redmine/"/>
    <add key="apiKey" value="06a21aa68aa66d2e43cdd29ad2bf1e517af04016"/>
    <add key="username" value="user"/>
    <add key="password" value="107312"/>-->
  
    <!--<add key="uri" value="https://ahau.easyredmine.com"/>
    <add key="apiKey" value="7rjeulwkt54lk0nk4sk0"/>
    <add key="username" value="manager"/>
    <add key="password" value="manager2013"/>-->

    <!--<add key="uri" value="http://localhost:8089/redmine/"/>
    <add key="apiKey" value="06a21aa68aa66d2e43cdd29ad2bf1e517af04016"/>
    <add key="username" value="user"/>
    <add key="password" value="107312"/>-->
  </appSettings>
</configuration>